<table class='table'>
  <thead>
    <tr>
      <th></th>
      <% @pretenders.each do |pretender| %>
        <th><%= pretender.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @pretenders.each_with_index do |row_owner| %>
      <tr>
        <th><%= row_owner.name %></th>
        <% @pretenders.each do |pretender| %>
          <% if pretender == row_owner %>
            <td class='disabled'>-</td>
          <% else %>
            <td><%= pretender.iterations_ago_with(row_owner) || "never" %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>