/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


table.dashboard{
  th{
    vertical-align: middle;
    line-height: 30px;
  }
  td, th{
    text-align: center;
    &.create-couple {
      a {
        text-shadow: rgba(0, 0, 0, 0.9) 0px 1px 3px;
        color: white;
        width: 30px;
        line-height: 30px;

        display: inline-block;
        padding: 1px 5px;
      }
    }

    &.ok a, a.solo {
      background-color: #0074CC;
    }
    &.bad a {
      background-color: #FAA732;
    }
    &.urgent a {
      background-color: #DA4F49;
    }
  }

}
